body {
    background-color: teal;
    align-items: center;
}
h1 {
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(146, 236, 149);
    text-align: center;
    border-radius: 24px;

}
header {
    background-color: tomato;
    color:rgb(12, 12, 12);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
}
img {
    width: 300px;
    margin-left: 100px;
    
}
.card {
    background-color: bisque;
    width: 500px;
    height: 700px;
    border-radius: 20px;
    margin-left: 13.5%;
    

}
.input-section {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
input {
    padding:10px ;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    margin-left: 6px;
    margin-right: 6px;
}
.display {
    display: flex;
    flex-direction: column;
}
output {
    border: 2px solid black;
    padding:10px ;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'arial';
    font: bold;
    outline: none;
    margin-left: 6px;
    margin-right: 56%;
    height: 20px;
    background-color: aliceblue;
}

input:focus {
    border-color: rgb(250, 1, 1);
}
.button {
    display: flex;
    border: 12px;
    padding: 36px;
}
.semua-tombol {
    display: flex;
    grid-gap: 8px;
}
.tombol {
    background-color: bisque;
    border-radius: 8px;
    border: none;
    width: 64px;
    height: 20px;
    box-shadow: inset 2px 2px 6px;
    
}
button:focus {
    background-color: tomato;
    
}
button:hover {
    transform: scale(0.9);
}
button::after {
    transform: scale(0.0);
}
